<!doctype html>
<html ng-app='alertModule' ng-controller='authController'>
  <head>
  <meta charset="utf-8"/>

  <link rel="stylesheet" href="/css/base.css">

  <title>Instok</title>
  </head>
  <body>
      <div id="header">
          <span id="header-text"><a href="/#/">Instok</a></span>                                   
          <span ng-hide="isSignedIn()" id="loginbox"><a ng-href="#/login"> login | signup </a></span>
          <span ng-show="isSignedIn()" id="loginbox"><a ng-href="#/account">{{ user._id }}</a><a ng-href="/logout"> | logout</a></span>
      </div>
      <div class="view-container" ng-view></div>
  </body>
</html>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <script type="text/javascript" src="/controllers/controllers.js"></script>