
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
    padding: 0;
    margin: 0;
    font-family:'Montserrat', Arial;
    height: 100%;
}

input {
	font-family: 'Montserrat';
}

.view-container {
	margin: 0;
	padding: 0;
	height: 100%;
}

body a {
	color: white;
    text-decoration: none;
}

.home-container {
	margin: 0 auto;
	width: 70%;
	color: white;
}

#header a {
    text-decoration: none;
    color: black;
}

#header {
    height: 45px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
}

#header-text {
    font-size: 20px;
    padding: 10px;
    float: left;
}

#loginbox {
    font-size: 20px;
    padding: 10px;
    float: right;
}

#box-one {
    background: #4679bd;
}

#main-text {
	
    font-size: 40px;
    padding: 25px 25px 0px 25px;
    color: white;
}

#subtitle {
	
    font-size: 25px;
    color: white;
    padding: 25px 25px 35px 25px;
}

#box-two {
    background: #06406C;
}

.body-text {
    font-size: 25px;
    padding: 25px 25px 0 25px;
    color: white;
}

.body-text-bottom {
	font-size: 25px;
	color: white;
	padding: 50px 25px 50px 25px;
}

.large-body-text {
	font-size: 35px;
	padding: 50px 25px 0 25px;
}

.box-four-text {
	font-size: 35px;
	padding: 50px 25px 50px 25px;
}

#box-three {
    background: #FF6161;
}

#box-four {
    background: #E10000;
    
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.homelist {
    color: white;
    padding: 15px 25px 50px 25px;
}

.homelist li {
    padding: 10px 10px 10px 10px;
    color: white;
    font-size: 25px;
}

#login-body {
	background: #4679bd;
	margin: 0;
	padding: 0;
	color: white;
	min-height: 100%;
	height: auto !important;
}

.logincontainer {
    margin: 0 auto;
    padding: 10px 15px 15px 30px;
    font-size: 25px;
    max-width: 400px;
}

.form {
	padding: 10px 0 10px 0;
}

#container {
	margin: 0 auto;
	width: 80%;
}

.header {
    width:100%;
    height: 50px;
}

#alert-list {
	margin: 0 15px 0 0;
	padding: 0;
	list-style: none;
}

#alert-list li {
	position: relative;
	font-size: 24px;
	padding: 10px;
	line-height: 1.2;
	color: white;
	margin: 15px 0 15px 0;
	background: #06406C;
	width:100%;
}

#alert-link {
	float: right;
}

#alert-header {
	color:white;
	padding: 0 0 25px 0;
	font-size: 25px;
}

.remove-alert {
	background-image: url('../images/cross.png');
	float: right;
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.alert-input {
	position: relative;
	margin: 0;
	font-size: 24px;
	line-height: 1.2em;
	padding: 10px 0 10px 10px;
	border: 0;
	min-width: 99%;
}

.clear-input {
	outline: 0;
    border: 0;
    position: relative;
	margin: 0;
	font-size: 24px;
	padding: 10px 0 10px 0;
	width: 250px;
}

.add-title {
	font-size: 25px;
	
}

.add-alert {
	font-size: 25px;
}

#add-container {
	background: white;
 	margin: 0 auto;
 	padding: 25px;
 	width: 50%;
}

#add-body {
	background: #FF6161;
	min-height: 100%;
	height: auto !important;
}

.add-space {
	padding: 15px 0 15px 0;
}

.add-button {
    height: 40px;
    font-size: 24px;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;

}

.form-input {
	position: relative;
	margin: 10px 10px 10px 0;
	font-size: 24px;
	line-height: 1.2em;
	border: 0;
	padding: 10px;
	border: 1px solid #999;
	width: 80%;
}

#account-container {
 	margin: 0 auto;
 	padding: 25px;
 	width: 50%;
}

#account-body {
	background: #4679bd;
	min-height: 100%;
	height: auto !important;
}
