html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	line-height: 1.4em;
}

.header {
	
	background: #7781d7;
}

#headerlogo {
    float: left;
    text-align: left;
    padding: 15px 0 0px 20px;
    margin: 0;
}

#headerlogo a {
  text-decoration: none; 
  font-size: 22px;
  font-weight: normal;  
  color:white;
}

#loginbox {
    float: right;
    text-align: right;
    margin: 0;
    margin: 0;
    padding: 15px 20px 0px 0px;
    color: white;
}

#loginbox a {
  text-decoration: none; 
  font-size: 16px;
  font-weight: normal;
  color: white;
}

.right-header{
	float: right;
	padding: 10px;
}

.logincontainer {
    margin: 0 auto;
    width: 300px;
    background: #F0F0F0;
    padding: 10px 15px 15px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#container {
	margin: 0 auto;
	width: 80%;
}

.header {
    width:100%;
    height: 50px;
}

button {

	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
}

#new-todo,
.edit {
	position: relative;
	margin: 0;
	font-size: 24px;
	line-height: 1.4em;
	border: 0;
	padding: 0;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
}

#todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#todo-list li {
	position: relative;
	font-size: 24px;
	padding: 6px;
}

#todo-list li.editing .edit {
	display: block;
	width: 300px;
	padding: 0;
	margin: 0;
}

#todo-list li.editing .view {
	display: none;
}

#todo-list li label {
	line-height: 1.2;
}

#todo-list li .edit {
	display: none;
}

#alert-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#alert-list li {
	position: relative;
	font-size: 24px;
	padding: 10px;
	line-height: 1.2;
	color: white;
	margin: 15px 0 15px 0;
	background: #81d777;
	width: 400px;
}

.remove-alert {
	float: right;
}

.alert-input {
	position: relative;
	margin: 0;
	font-size: 24px;
	line-height: 1.2em;
	border: 0;
	padding: 10px;
	border: 1px solid #999;
	width: 400px;
}

.clear-input {
	outline: 0;
    border: 0;
    position: relative;
	margin: 0;
	font-size: 24px;
	line-height: 1.2em;
	padding: 10px;
	width: 100px;
}

.add-reminder {
	font-size: 24px;
}

.add-button {
    height: 40px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}





