@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
    padding: 0;
    margin: 0;
    font-family:'Montserrat', Arial;
    height: 100%;
}

input {
	font-family: 'Montserrat';
}

.view-container {
	margin: 0;
	padding: 0;
	height: 100%;
}

body a {
	color: white;
    text-decoration: none;
}

/* HOME PAGE */

.home-container {
	margin: 0 auto;
	width: 70%;
	color: white;
}

.centre-image {
	margin: 0 auto;
	width: 70%;
}

.home-image {
	padding: 25px 0 25px 0;
	max-width: 550px;
	width: 100%;

}

#header a {
    text-decoration: none;
    color: black;
}

#header {
    height: 45px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
}

#header-text {
    font-size: 20px;
    padding: 10px;
    float: left;
}

#loginbox {
    font-size: 20px;
    padding: 10px;
    float: right;
}

#box-one {
    background: #4679bd;
}

#main-text {
    font-size: 40px;
    padding: 25px 25px 0px 25px;
    color: white;
}

#subtitle {
    font-size: 25px;
    color: white;
    padding: 25px 25px 35px 25px;
}

#box-two {
    background: #06406C;
}

.body-text {
    font-size: 25px;
    padding: 25px 25px 0 25px;
    color: white;
}

.body-text-bottom {
	font-size: 25px;
	color: white;
	padding: 50px 25px 50px 25px;
}

.large-body-text {
	font-size: 35px;
	padding: 50px 25px 0 25px;
}

.box-five-text {
	font-size: 35px;
	padding: 50px 25px 50px 25px;
}

#box-two-five {
    background: #3f3f3f;
}

.home-sign-in {
	padding: 25px;
}

#box-three {
    background: #FF6161;
}

#box-four {
    background: #E10000;
}

#box-five { 
 	background: #800;
 }

.footer-text {
	font-size: 20px;
	padding: 30px;
}

.footer-text a {
	color: black;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.homelist {
    color: white;
    padding: 15px 25px 50px 25px;
}

.homelist li {
    padding: 10px 10px 10px 10px;
    color: white;
    font-size: 25px;
}

#login-body {
	background: #4679bd;
	margin: 0;
	padding: 0;
	color: white;
	min-height: 100%;
	height: auto !important;
}

.logincontainer {
    margin: 0 auto;
    padding: 10px 15px 15px 30px;
    font-size: 20px;
    max-width: 400px;
}

.form {
	padding: 10px 0 10px 0;
}

#container {
	margin: 0 auto;
	width: 80%;
}

.header {
    width:100%;
    height: 50px;
}

/* ACCOUNT PAGE */

#account-title {
	font-size: 25px;
}

#alert-list {
	margin: 0 15px 0 0;
	padding: 0;
	list-style: none;
}

#alert-list li {
	position: relative;
	font-size: 20px;
	padding: 10px;
	line-height: 1.4;
	color: white;
	margin: 15px 0 15px 0;
	background: #06406C;
	width:100%;
}

#response-message {
	margin: 0 15px 0 0;
	padding: 0;
	list-style: none;
}

#response-message li {
	position: relative;
	font-size: 20px;
	padding: 10px;
	line-height: 1.4;
	color: white;
	margin: 15px 0 15px 0;
	background: #00e171;
	width:100%;
}

.alert-name:hover {
	cursor: pointer;
}

.credits-remaining {
	padding: 0 0 10px 0;

}
#account-buttons-list {
	list-style: none;
}

#account-buttons-list a {
	color: black;
}

#account-buttons-list li {
	float: left;
	color: black;
	border-style: none solid solid solid;
	border-width: 2px;
	margin-left: 15px;
	padding: 10px;
	font-size: 20px;
}

#edit-account-button {
	background: #ffff76;
}

#add-alert-button {
	background: #FF6161;
}

#credit-button {
	background: #00e171;
}

.remove-alert {
	background-image: url('../images/cross.png');
	float: right;
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.remove-message {
	background-image: url('../images/greencross.png');
    float: right;
	cursor: pointer;
	width: 30px;
	height: 30px;

}

.info-alert {
	margin-right: 5px;
	float: right;
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.alert-input {
	position: relative;
	margin: 0;
	font-size: 20px;
	line-height: 1.2em;
	padding: 10px 0 10px 10px;
	border: 0;
	width: 99%;
}

.clear-input {
	outline: 0;
    border: 0;
    position: relative;
	margin: 0;
	font-size: 20px;
	padding: 10px 0 10px 0;
	max-width: 250px;
	width: 100%;
}

.content-container {
	margin: 0 auto;
	width: 90%;
}

.main-container {
	background: white;
 	margin: 0 auto;
 	width: 50%;
 	border-style: none solid solid solid;
 	border-width: 2px;
 	font-size: 20px;
}

.terms-container {
	background: white;
 	margin: 0 auto;
 	width: 80%;
 	border-style: none solid solid solid;
 	border-width: 2px;
 	font-size: 20px;
}

.terms-container a {
	color: black;
}

.terms-header {
	padding-top: 10px;
}

.main-container a {
	color: black;
}

.main-body {
	min-height: 100%;
	height: auto !important;
	margin: 0;
	padding: 0;
}

.add-background {
	background: #FF6161;
}

.credit-background {
	background: #00e171;
}

.terms-background {
	background: #3f3f3f;
}

.view-background {
	background: #7bffbd;
}

.edit-background {
	background:  #ffff76;
}

.sent-background {
	background: #FFA500;
}

.add-space {
	padding: 15px 0 15px 0;
}

.add-button {
    height: 40px;
    font-size: 20px;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;

}

.form-input {
	position: relative;
	margin: 10px 10px 10px 0;
	font-size: 20px;
	line-height: 1.2em;
	border: 0;
	padding: 10px;
	border: 1px solid #999;
	width: 80%;
}

#account-container {
 	margin: 0 auto;
 	width: 50%;
}

#account-body {
	background: #4679bd;
	min-height: 100%;
	height: auto !important;
	font-size: 20px;
	color: white;
}

/* SENT ALERTS */

#sent-body {
	background: #FFA500;
	min-height: 100%;
	height: auto !important;
}

.sent-alerts-list {
	list-style: none;
}

.sent-alerts-list li {
	
}

.sent-alerts-text {
	padding: 10px 0 5px 0;
}

.sent-alerts-number {
	font-size: 20px;
	padding: 5px 0 10px 0;
}

.sent-alerts-new-button {
	font-size: 20px;
	padding: 5px 0 10px 0;
}

.sent-alerts-new-button a {
	color: black;
}

#sent-alert-container {
	 border-style: solid none none none;
	 border-width: 2px;
	 margin-bottom: 10px;
	 padding: 10px 10px 10px 0;
}

/* TEMPLATES */

.template-add {
	
	height: 250px;
}

textarea {
	width: 100%;
	max-width: 100%;
	font-family: 'Montserrat';
	font-size: 20px;
	padding: 10px;
	margin: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* RESPONSIVE */

@media handheld, only screen and (max-width: 720px) {
.main-container {
 	width: 100%;
 	border-style: none;
}

#account-container {
	width: 80%;
	padding: 25px 0 25px 0;
}

.home-container {
	width: 90%;
}

.info-alert {
	display: none;
}

.remove-alert {
	display: none;
}

#account-buttons-list li {
	float: none;
	width: 80%;
	margin-left: 0;
}

#header-text {
	display: none;
}

}
