<div ng-controller="listController">
 
        <div>
          <h2>Alerts</h2>
        </div>
        <div>
          <form>
            <div>
              <input class="alert-input" placeholder="Search" ng-model="name">
            </div>
          
          </form>
        </div>


        <div>
        <ul id="alert-list">
          <li class="alert" ng-repeat="alert in alerts | filter:name">
            <div>
              <label ng-click="sendAlert(alert)">
                {{alert.item}}
              </label>
              <span class="remove-alert">
                <button ng-click="removeAlert(alert)">
                  x
                </button>
              </span>
            </div>
          </div>
            
      </li>
  </ul>
  </div>