
<div id="account-body">
<div>
  <ul id="account-buttons-list">
   <li id="edit-account-button"><a ng-href="/#/account/edit">Edit account</a></li>
   <li id="credit-button"><a ng-href="/#/account/credit/add">Add credit</a></li>
   <li id="add-alert-button"><a ng-href="/#/account/add">Add alert</a></li>
  </ul>
</div>

<div style="clear: both"></div>
    <div id="account-container">
      <div class="content-container">
        <div class="add-space">Active alerts</div>
        <div class="credits-remaining">{{ user.credits }} credits remaining</div>
            <div>
              <input class="alert-input" placeholder="Search" ng-model="alert.item">
            </div>
        <div>
        <ul id="alert-list">
          <li ng-repeat="alert in alerts | filter:alert.item">
            <div>
              <label class="alert-name" title="Send alert" ng-click="sendAlert(alert)">
                {{alert.item}}
              </label>
              <span ng-click="removeAlert(alert)" class="remove-alert" title="Remove alert"></span>
              <span title="View alert" class="info-alert"><a ng-href='/#/account/{{alert.id}}'><img src='../images/info.png'></a></span>
              
            </div>
          </li>
        </ul>
        <ul ng-show="message" id="response-message">
          <li><span>{{ message }} </span>
              <span ng-click="removeMessage()" class="remove-message" title="Remove message"></span>  
          </li>
        </ul>
      </div>
    </div>
    </div>
</div>
