
<div id="account-body">
<div>
  <ul id="account-buttons-list">
   <li id="edit-account-button"><a ng-href="/#/account/edit">Edit account</a></li>
   <li id="credit-button"><a ng-href="/#/account/credit/add">Add credit</a></li>
   <li id="add-alert-button"><a ng-href="/#/account/add">Add alert</a></li>
  </ul>
</div>

<div style="clear: both"></div>
    <div id="account-container">
      <div class="content-container">
        <div id="account-title" class="add-space">Alerts</div>
        <div class="credits-remaining">{{ user.credits }} credits remaining</div>
            <div ng-show="alerts">
              <input class="alert-input" placeholder="Search" ng-model="alert.item">
            </div>
            <div class="tutorial-text" ng-hide="alerts">Go <a title="Add an alert" class="black-link" href="/#/account/add">here</a> to add an alert or maybe <a title="Add a template" class="black-link" href="/#/account/templates/add">here</a> to add a reusable template for future use.</div>
        <div>
        <ul id="alert-list">
          <li ng-repeat="alert in alerts | filter:alert.item">
            <div>
              <span><label class="alert-name" title="Send alert" ng-click="sendAlert(alert)">
                {{alert.item}}
              </label></span>

            </div>
            <div class="subtitles"><span title="Send alert" class="subtitle" ng-click="sendAlert(alert)">Send</span><span title="Edit alert" class="subtitle"><a ng-href="/#/account/{{alert.id}}">Edit</a></span><span title="Remove alert" class="subtitle" ng-click="removeAlert(alert)">Remove</span></div>
          </li>
        </ul>
        <ul ng-show="message" id="response-message">
          <li><span>{{ message }} </span>
              <span ng-click="removeMessage()" class="remove-message" title="Remove message"></span>  
          </li>
        </ul>
        <br>
      </div>
    </div>
    </div>
</div>
