<div id="add-body">
    <div id="add-container">
        <div>
          <div class="add-title">Add alert </div>
          
          <form ng-submit="addAlert()">
            <div class="add-alert">
              <div ng-hide=activetemplate.content>Before adding an alert you should set up some template text by adding a template <a ng-href="/#/account/template/add">here</a></div>
              <div ng-show=activetemplate.content>
              <div class="add-space">Send:</div>
              <div>{{ activetemplate.content }}</div>
              <div><input class="clear-input" name="item" placeholder="Item"  ng-model="item"></div>
              <div><input class="clear-input" name="location" placeholder="Location" ng-model="location"></div>
              <div><input class="clear-input" placeholder="Number" name="number" ng-model="number"></div>
              <div><input type="submit" class="add-button" value="Submit"></div>
            </div>
            </div>
          </form>
         </div>

         <div ng-show=activetemplate.content class="add-title">Templates</div>
         <ul id="alert-list">
          <li ng-repeat="template in templates">
            <div>
              <label class="alert-name" title="Change template" ng-click="changeActiveTemplate(template)">
                {{template.title}}
              </label>
                            
            </div>
          </li>
        </ul>

       <div><p><h2>{{ message }} </h2></p></div>
    </div>
</div>