<div class="add-background main-body">
    <div class="main-container">
        <div class="content-container">
          <form ng-submit="addAlert()">
              <div class="add-space">Add alert</div>
              
              <div><input class="clear-input" name="item" placeholder="Item"  ng-model="item"></div>
              <div><input class="clear-input" placeholder="Phone no." name="number" ng-model="number"></div>
              <div><input class="clear-input" name="location" placeholder="Business name" ng-model="location"></div>
              
              <div><p><textarea class="template-add" ng-model="content" name="content" Placeholder="Insert body of text here using { item } and { business }. Using these tags will mean the above variables are included in the alert.">{{ content }}</textarea></p></div>

              <div><input type="submit" class="add-button" value="Submit"></div>
          </form>

        <div><p>{{ message }}</p></div>
         
         <div ng-show="templates">Templates</div>
         <div class="small-text" ng-hide="templates">You might like to add some reusable templates <a class="black-link" href="/#/account/template/add">here</a></div>
         <ul id="template-list">
          <li ng-repeat="template in templates">
            <div>
              <label class="alert-name" title="Change template" ng-click="changeActiveTemplate(template)">
                {{template.title}}
              </label>
                            
            </div>
             <div class="subtitles"><span title="Use alert" ng-click="changeActiveTemplate(template)" class="subtitle">Use</span><span title="Edit alert" class="subtitle"><a ng-href="/#/account/template/{{template.id}}">Edit</a></span><span title="Remove alert" class="subtitle" ng-click="removeTemplate(template)">Remove</span></div>
          </li>
        </ul>
        <br>
      </div>
    </div>
</div>
