<div ng-controller="addController">
 
        <div>
          <p> <h2>Add reminder </h2></p>
          <p>

          <form ng-submit="addAlert()">
            <div class="add-reminder">
              Hello there, <input class="clear-input" name="item" placeholder="Item"  ng-model="item"> is now 
              available at <input class="clear-input" name="location" placeholder="Location" ng-model="location">
              to <input class="clear-input" placeholder="Number" name="number" ng-model="number">
              <div><input type="submit" class="add-button" value="Submit"></div>
            </div>
            
          </form>
        </p>
        </div>
        
        <div><p><h2>{{ message }} </h2></p></div>
  </div>