<div class="edit-background main-body">
    <div class="main-container">
        <div class="content-container">
          <div class="add-space">Account details </div>
          
          <form ng-submit="editAccount()">

              <div>Business name: <input class="clear-input" name="item" placeholder="Business name" ng-model="user.location" value="{{ user.location }}"></div>
              <div><input type="submit" class="add-button" value="Update"></div>

          </form>

       <div><p>{{ message }} </p></div>
       <div class="small-text" ng-hide="templates">Add a template <a class="black-link" href="/#/account/template/add">here</a></div>
       <div ng-show="templates">Templates<div class="black-subtitle"><a href="/#/account/template/add">Add template</a></div></div>
       <ul id="template-list">
          <li ng-repeat="template in templates">
            <div>
              <label class="alert-name">
                {{template.title}}
              </label>
                    
            </div>

            <div class="subtitles"><span title="Edit alert" class="subtitle"><a ng-href="/#/account/template/{{template.id}}">Edit</a></span><span title="Remove alert" class="subtitle" ng-click="removeTemplate(template)">Remove</span></div>
          </li>
        </ul>
        <br>

     </div>
    </div>
</div>
