<div id="edit-body">
    <div id="add-container">
        <div>
          <div class="add-title">Account details </div>
          
          <form ng-submit="editAccount()">
            <div class="add-alert">
              <div class="add-space">Location: <input class="clear-input" name="item" placeholder="Location" ng-model="location" value="{{ location }}"></div>
              <div><input type="submit" class="add-button" value="Submit"></div>
            </div>
          </form>
         </div>
       <div><p>{{ message }} </p></div>
       <div><p><a ng-href="#/account/template/add">Add template</a></p></div>
    </div>
</div>