<div class="view-background main-body">
    <div class="main-container">
        <div class="content-container">
          <form ng-submit="editAlert(alert)">

              
              <div class="add-space">Alert details:</div>
              
              <div><input class="clear-input" name="item" placeholder="Item"  ng-model="alert.item" value="{{alert.item}}"></div>
              <div><input class="clear-input" placeholder="Number" name="number" ng-model="alert.number" value="{{alert.number}}"></div>
              <div><input class="clear-input" name="location" placeholder="Location" ng-model="alert.location" value="{{alert.location}}"></div>

               <div><p><textarea class="template-add" ng-model="alert.content" name="alert.content" Placeholder="Insert body of text here using { item } and { location }">{{ alert.content }}</textarea></p></div>

              <div><input type="submit" class="add-button" value="Submit"></div>


          </form>

        <div><p>{{ message }} <p></div>
         <div>Templates</div>
         <ul id="alert-list">
          <li ng-repeat="template in templates">
            <div>
              <label class="alert-name" title="Change template" ng-click="changeActiveTemplate(template)">
                {{template.title}}
              </label>       
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>