
<div id="box-one">
   <div class="home-container">
    <div id="main-text">InStok</div>
    <div id="subtitle">The easy way to let customers know you've got an item back in stock.</div>
   </div>
</div>
<div id="box-two">
	<div class="home-container">
 	<div class="body-text">Use case</div>
    <div class="body-text">Q "Do you those generic widget available that I read about in the paper?"</div>
    <div class="body-text-bottom">A "Afraid not kind sir/madam, however, we're due a delivery soon and we can send you a text when it arrives"</div>
</div>
</div>

    <div id="box-three">
    	<div class="home-container">
    <div class="body-text-bottom">How to use InStok</div>
    <ul class="homelist">
        <li>1. Create an <a href="/#/login">account</a></li>
        <li>2. Add an <a href="/#/account/add">alert</a></li>
        <li>3. <a href="/#/account">Send</a> the alert when stock arrives</li>
        <li>4. Gain business you might have otherwise lost</li>
    </ul>

    <div class="first-ten-free">Send your first 10 alerts for free</div>
</div>
</div>
<div id="box-four"></div>
