<div>
<div id="box-one">
   <div class="home-container">
    <div id="main-text">InStok</div>
    <div id="subtitle">The easy way to let customers know you've got an item back in stock.</div>
   </div>
</div>
<div id="box-two">
    <div class="home-container">
        <div class="large-body-text">How to use InStok</div>
         <ul class="homelist">
            <li>1. Create an <a href="/#/login">account</a></li>
            <li>2. Add an <a href="/#/account/add">alert</a></li>
            <li>3. <a href="/#/account">Send</a> the alert when stock arrives</li>
            <li>4. Gain business you might have otherwise lost</li>
         </ul>
    </div>
</div>

<div id="box-two-five">
	<div class="home-container">
	    <div class="form">Create Account</div>
                <form class="loginform" method=post action="/signup">
                <div><input class="form-input" type=text name="username" placeholder="Username" size=20></div>
                <div><input class="form-input" type=password name="password" placeholder="Password" size=20></div>
                <div><input class="form-input" type=text name="location" placeholder="Location" size=20></div>
                <div><input class="add-button" type=submit value="Submit"></div>
                <br><br>
                </form>
          </div> 	
	</div>	
</div>

<div id="box-three">
    <div class="home-container">
    <div class="centre-image">
    <img class="home-image" ng-src="../images/home.png">
</div>
    </div>
</div>
<div id="box-four">
    <div class="home-container">
    <div class="large-body-text">Use case</div>
    <div class="body-text">Q "Do you have those generic widgets available that I read about in the paper?"</div>
    <div class="body-text-bottom">A "Afraid not kind sir/madam, however, we're due a delivery soon and we can send you a text when it arrives"</div>
</div>
</div>
<div id="box-five">
    <div class="home-container">
        <div class="box-five-text">First 10 alerts are free. Subseqent alerts are £1 for 10</div>
    </div>
</div>
</div>

