<div class="add-background main-body">
    <div class="main-container">
        <div class="content-container">
          <div class="add-space">Add template</div>
          
          <form ng-submit="addTemplate()">
             
              <div><input class="clear-input" name="title" placeholder="Title"  ng-model="title"></div>
              <div>
                <textarea class="template-add" ng-model="content" placeholder="Add your template here including tags { item }  and { business }" name="content"></textarea>
              </div>
              <div><input type="submit" class="add-button" value="Submit"></div>
          </form>

       <div class="add-space">{{message}}</div>
     </div>
    </div>
</div>