<div class="view-background main-body">
    <div class="main-container">
        <div class="content-container">
          <div class="add-space">Edit template</div>
          
          <form ng-submit="editTemplate()">

             
              <div>Title <input class="clear-input" name="title" placeholder="Title"  ng-model="template.title" value="{{template.title}}"></div>
              <div>
                <textarea class="template-add" ng-model="template.content" placeholder="Add your template here including tags { item }  and { location }" name="content">{{ template.content }} </textarea>
              </div>
              <div><input type="submit" class="add-button" value="Submit"></div>

          </form>

       <div class="add-space">{{message}}</div>
     </div>
    </div>
</div>