<div class="terms-background main-body">
    <div class="terms-container">
        <div class="content-container">

          <p><b>General</b></p>

          <p>Access to this site is subject to the following terms of use. If you are not willing to stick to the terms then you should not use the site.</p>

          <p>The primary purpose of the site is to allow businessses to send alerts to customers who have fully consented to the receipt of such messages. Consequently you should not use the site to send communications that are not within this primary purpose. Specifically you should not send any messages of an offensive or abusive nature.</p> 

          <p>If any legal action is taken against this site or is threatened as a result of your misuse of this site, you agree to cover in full the costs that are incurred by the site as a result of such action.</p>

          <p><b>Payments</b></p>

          <p>Payment made to this site are processed using <a href="https://stripe.com">Stripe</a>. Stripe is a third party payment provider and by using their service, your card details are not stored by this site. When you input your card details they are sent to Stripe who then return a unique token to this site which then allows us to take a payment from your card.</p>

          <p><b>Work in progress</b></p>

          <p>This site is currently very much a work-in-progress. Although the basic functionality is in place to allow alerts to be sent, you should be aware that the appearance of the site and its functionality may change. At present, free credits are provided to allow users to try the site without purchasing any credits. This may change in the future however.<p>

          <p><b>Cookies</b></p>

          <p>This site uses cookies firstly to keep you logged in so that if you log-in, leave the site, and then return, you'll still be logged in.</p>

          <p>Secondly, the site uses Google Analytis which means cookies are used by Google to track your usage of the site on an anonymous basis. If you do not want your usage of the site to be monitored you should not use the site or preferably block third party cookies. This can be done through your browser settings.</p>

          <p><b>Data</b></p>

          <p>Data you submit to the site is stored using a third party data provider called <a href="https://mongohq.com">MongoHQ. This means that data is stored outside the UK and may be transferred to countries where protections for data are not as strict as in the UK. Consequently if you do not want your data and customer data to be stored in such manner, you should not use the site. On the other hand if you do use the site, you consent to the usage of data in the above manner.</p>

          <p>All data will be deleted from this site and MongoHQ on request to mg@instok.net.</p>

          <p><b>Contact</b></p>

          <p>If you have any queries regarding the site, please contact mg@instok.net.</p>

      </div>
    </div>
</div>